






<div class="xl:col-span-2 flex flex-col flex-auto bg-card  rounded-2xl overflow-hidden" >
    <strong>
       <h2  style="color: rgb(102, 125, 148); text-decoration:underline ;text-align: center; font-size: 30px; margin-top: 2%;" >
         Equipement</h2>
     </strong>
         <div class="card" style="margin-left: 7%;margin-right: 7%;margin-top: 5%; margin-top: 5%;" >
             <div>
                   <div style="text-align: left;float:right ;display: inline;margin-top: 2%;margin-right: 1%;">
                     <input  matInput  (keyup)="applyFilter($event)" style="text-align: left;" placeholder="Search" #input matColumnDef="10">
                     <mat-icon >search</mat-icon>
                   </div>
                   <button  [disabled]="!canAdd" style="float:left ;display: inline; margin-left: 2%;margin-top: 1%;"  (click)="openDialog()">
                 <i class="fa fa-circle-plus" style="
                   zoom: 1.5;color: #6c757d;"></i>           
                   </button>
             </div>
             <div class="overflow-x-auto mx-6" style="margin-top: 1%;">
             
             <form [formGroup]="VOForm">
             
             <!-- <button  color="primary"  style="display: inline;"><mat-icon (click)="AddNewRow()" class="add-button">add_box</mat-icon></button> -->
                <ng-container formArrayName="VORows" >
                 <table #table mat-table [dataSource]="materials" class="table-responsive" >
         
                   <!-- Position Column -->
                   <ng-container matColumnDef="Material_id">
                     <th mat-header-cell *matHeaderCellDef> Material_id </th>
                     <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                       <input matInput type="text" formControlName="id" [readonly]="true" #iduser 
                              style="width: 20px">
                     </td>
                   </ng-container>
                   
                               
                   <!-- Name Column -->
                   <ng-container matColumnDef="quantity">
                     <th mat-header-cell *matHeaderCellDef > quantity </th>
                     <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
           
        <mat-form-field *ngIf="!VOForm.get('VORows').value[i].isEditable">
            <input class="c1" required matInput type="number" formControlName="quantity" [readonly]="VOForm.get('VORows').value[i].isEditable">
        </mat-form-field>



 <span *ngIf="VOForm.get('VORows').value[i].isEditable">

                        {{ VOForm.get('VORows').value[i].quantity }}
         </span>
                      
                       
                       
                     </td>
                   </ng-container>

                   <ng-container matColumnDef="picture">
                    <th mat-header-cell *matHeaderCellDef>Picture</th>
                    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                     <div class="text-center">
                      <img  *ngIf="VOForm.get('VORows').value[i].isEditable" style="height:100px; width:150px;margin-left: 35%;margin-top: 4%;margin-bottom: 4%;"
                       [src]="element.get('picture').value" alt="Picture">
                    
                     </div>
                      
                   
                        <input type="file" (change)="onFileSelect(VOForm,$event,i)"  class="form-control-file" id="picture" *ngIf="!VOForm.get('VORows').value[i].isEditable">
                  
                    </td>
                  </ng-container>
                   <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef > name </th>
                    <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element" >
                        
                        <mat-form-field *ngIf="!VOForm.get('VORows').value[i].isEditable" style="width: 60%">
                            <input class="c1" required matInput type="text" formControlName="name" [readonly]="VOForm.get('VORows').value[i].isEditable">
                            <mat-error style="text-align: center;">
                            name field is required
                            </mat-error>
                              
                          </mat-form-field>
                          
                          <button type="text"  
                          
                          
                          [readonly]="VOForm.get('VORows').value[i].isEditable" *ngIf="VOForm.get('VORows').value[i].isEditable">
                          {{ VOForm.get('VORows').value[i].name }}
                        </button>
      
                    </td>
                  </ng-container>             
                   <ng-container matColumnDef="action">
                     <th mat-header-cell *matHeaderCellDef> Action </th>
                     <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                       <button mat-icon-button class="material-icons app-toolbar-menu save-button" 
                                               matTooltip="Save Changes" (click)="SaveVO(VOForm, i, VOForm.get('VORows').value[i].id)"
                                               *ngIf="!VOForm.get('VORows').value[i].isEditable" >
                                               <mat-icon style="color: green;">check_circle</mat-icon>
                                           </button>
           
                       <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                                               matTooltip="Cancel Changes" color="warn"
                                               (click)="CancelSVO(VOForm,i)"
                                               *ngIf="!VOForm.get('VORows').value[i].isEditable">
                                               <mat-icon>cancel</mat-icon>
                                           </button>
           
                       <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                               *ngIf="VOForm.get('VORows').value[i].isEditable"
                                               matTooltip="Edit" color="primary" (click)="EditSVO(VOForm,i)"
                                               
                                               >
                                               <mat-icon>edit</mat-icon>
                                           </button>
           
                       <button mat-icon-button class="material-icons app-toolbar-menu delete-button"
                       
                                               *ngIf="VOForm.get('VORows').value[i].isEditable"
                                               matTooltip="Delete" color="warn" (click)="delete(VOForm,i)">
                                               <mat-icon>delete</mat-icon>
                                           </button>
                     </td>
                   </ng-container>
           
                   <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
                   <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           
                   <!-- Row shown when there is no matching data. -->
                   <!-- <tr class="mat-row" *matNoDataRow>
                     <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                   </tr> -->
                 </table>
               </ng-container>
               <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
                 <mat-progress-spinner 
                   color="primary" 
                   mode="indeterminate">
                 </mat-progress-spinner>
               </mat-card>
               
           
                   <mat-paginator  [pageSizeOptions]="[8, materials.data.length>8? materials.data.length:'10'  ]" 
                     style="margin-top: 1%;" 
                    showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
                   
             </form>
             </div>

           </div>
     </div>
    