<div >
    <h1>Book a desk !</h1>
    <br>
    <div style="background-color: white; width: fit-content;margin: 0 auto;">
      <mat-grid-list cols="8" rowHeight="50px">
        <button  class="btn btn-primary custom-button" style="height: 50px;margin-left: 2px;" mat-grid-tile *ngFor="let day of selectedWeek ; let i =index" [ngClass]="{ 'disabled': weekdays.indexOf(day.substring(0,3)) < weekdays.indexOf(today.substring(0,3)) && isFirstWeek}" (click)="onButtonClick(i)">   
          {{ day }} {{this.showedList[i]}}<sup>th</sup></button>
          <button *ngIf="isFirstWeek" (click)="showNextWeekDays()" class="btn btn-info custom-button">
            next
            <i class="fa-solid fa-arrow-turn-right"></i>
          </button>
          <button *ngIf="!isFirstWeek" (click)="previousWeekDays()" class="btn btn-info custom-button">
            previous
            <i class="fa-solid fa-arrow-turn-left"></i>
          </button>
      </mat-grid-list>
    </div>
  
    <!-- <div class="container">
      <div class="row">
        <div class="checkbox-container">
          <mat-checkbox>Full Day</mat-checkbox>
        </div>      
        </div>
      </div> -->
      <br>
      <br>
      <h1>Workspaces</h1>
    <!-- <div *ngIf=!showCanvas>
      <div class="container" *ngFor="let item of listWorkspaces">
        <div class="divWorkspace">
          <b>{{item.name}}</b>
          <div style="  position: absolute;bottom: 20px; width: 280px;">
          <span style="float: left;">Available {{item.totalPlaces-item.nbBooked}}</span>
          <span style="float: right;">Total {{item.totalPlaces}}</span>
          </div>
          <div style="  position: absolute;bottom: 10px; width: 280px;">
            <div class="progress" role="progressbar" style="height: 5px;" aria-label="Success example" aria-valuenow={{item.nbAvailable}} aria-valuemin="0" aria-valuemax="100">
              <div [ngClass]="getValueClass(item.nbAvailable)" [ngStyle]="{'width' : item.nbAvailable+'%'}" ></div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-xl-3"  style="height: 1000px;overflow-y: scroll">
        <div *ngFor="let item of listWorkspaces">
          <div  class="divWorkspace" (click)="loadCanvas(item.name)">
            <b>{{item.name}}</b>
            <div style="  position: absolute;bottom: 20px; width: 210px;">
            <span style="float: left;"> <b>Available {{item.totalPlaces-item.nbBooked}}</b></span>
            <span style="float: right;">Total {{item.totalPlaces}}</span>
            </div>
            <div style="  position: absolute;bottom: 10px; width: 210px;">
              <div class="progress" role="progressbar" style="height: 5px;" aria-label="Success example" aria-valuenow={{item.nbAvailable}} aria-valuemin="0" aria-valuemax="100">
                <div [ngClass]="getValueClass(item.nbAvailable)" [ngStyle]="{'width' : item.nbAvailable+'%'}" ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
    <div class="canvas text-center" style=" overflow-x: auto ;width : 70% ;height : 50%">
        <app-booking-map #canvas  ></app-booking-map>
    </div>
    </div>
  
  
  
  
  
  
  
  </div>