.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: 50px;
  gap: 2px;
}

button {
  height: 50px;
  margin-left: 2px;
}
.selected {
  /* Define the styles for the selected element */
  /* Example: */
  background-color: #3195ff11;
  font-weight: bold;
  /* Add any other styles as needed */
}
.canvas
{
  margin-top: 4%;
	border: 2px solid #cccccc;
  // margin-left:2% ;
  }
  li.activ {
    background-color: #f0f0f0; /* Background color for the active element */
    font-weight: bold; /* Bold font weight for the active element */
    color: #333333; /* Text color for the active element */
    
  }
  li.isactive {
    border: 2px solid rgb(65, 65, 147);
  }
  
  .divWorkspace{
    width: 90%;
    height: 150px;
    // background-color: white; 
     margin-top: 10px;
    // margin-left: 0px;
    border-radius: 4%;
    padding-left: 10px;
    padding-right: 10px;
    // float: left;
    border: 1px solid rgb(207, 204, 204);
    position: relative;
    transition: transform 0.5s ease-out;
  
  }
  .divWorkspace:hover {
    transform: scale(1.03);
    cursor: pointer;
    border: 2px solid rgb(139, 139, 155);
  }
  

  .user {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
  }
  
  .user + .user {
    position: absolute;
    left: calc(var(--index) * 15%);
    z-index: calc(var(--num-images) - var(--index));
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc; /* optional, add your desired background color */
  }

// .col-custom-2 {
//     width: 16.6666667%;
// }