.col-12{
    max-width: 380px;
    margin: 35px auto;
    padding: 0;
  }
  .container{
    // margin-left:0;
    width: 100%;
  }
  .legend-title {
    font-weight: bold;
    // font-size: 16px;
    margin-bottom: 10px;
  }
  
  .row{
    margin-top: 3%;
  }
  .c1{
    margin-top: 4%;
  }
  .card{
    margin: 0.2%;
    width: 24%;
  }