<button  class="close-icon" style="float: right;zoom: 0.9;padding-top: 0;margin-top: 0;" (click)="closeDialog()">
  <mat-icon>close</mat-icon>
</button>

  <div  class="text-center">
  

<h5  class="h5" style="margin-top: 5%;">TAGS</h5>


  <form [formGroup]="form" >
    
   <br>

    <div formArrayName="extraTags" style="width: 100%;">
      <div *ngFor="let tag of tags.controls; let i=index" [formGroupName]="i">
        <div style="display: inline-block;">
          <label for="tag-key">Key:</label>
          <mat-form-field style="margin-left: 10px;">
            <input matInput type="text" id="tag-key" formControlName="key" 
            name="key"
              (keyup)="checkFormControlChanges($event, i)" >
          </mat-form-field>
        </div>
        <div style="display: inline-block;margin-left: 10px;">
          <label for="tag-value">Value:</label>
          <mat-form-field style="margin-left: 10px;">
            <input matInput type="text" id="tag-value" formControlName="value"  style="margin-left: 10px" 
              (keyup)="checkFormControlChanges($event, i);">
          </mat-form-field>
        </div>

        <button mat-icon-button 
          [disabled]="disabled[i]"
          (click)="addTag()" 
          class="material-icons app-toolbar-menu add-button">
          <mat-icon style="color: green;">add_circle</mat-icon>
        </button>

        <button mat-icon-button class="material-icons app-toolbar-menu delete-button"
          matTooltip="remove tag" color="warn" (click)="removeTag(i)"
          [disabled]="!cancel()">
          <mat-icon>cancel</mat-icon>
        </button>
       
      </div>
      <span  style="text-align: left;color: red;"
        *ngIf="tagMessage"
         >
      key already exist
    </span>
    </div>

    <div class="mat-dialog-actions" style="float: left;margin-top: 3%;">
      <button class="btn btn-primary" [disabled]="tagMessage || send" (click)="submit()">OK</button>
      <button mat-flat-button (click)="closeDialog()" style="margin-left: 2px;">Close</button>
    </div>
  </form>

</div>