
  
  .example-boundary {
    width: 100%;
    height: 100%;
    border: dotted #ccc 2px;
  }
  .button-container {
    position: fixed;
  top: 16%;
    left: 36.5%;
    transform: translateX(-50%);
    z-index: 100;
    }
    