






<div class="xl:col-span-2 flex flex-col flex-auto bg-card  rounded-2xl overflow-hidden" >
  <strong>
     <h2  style="color: rgb(102, 125, 148); text-decoration:underline ;text-align: center; font-size: 30px; margin-top: 2%;" >
       Roles and Permissions</h2>
   </strong>
       <div class="card" style="margin-left: 7%;margin-right: 7%;margin-top: 5%; margin-top: 5%;" >
           <div>
               <!-- <h2 class="text-3xl font-semibold tracking-tight leading-8" style="color: rgb(64, 50, 50);margin-top: 1%; text-decoration:underline ;display: inline;" >
                   Manage roles</h2> -->
                 <div style="text-align: left;float:right ;display: inline;margin-top: 2%;margin-right: 1%;">
                   <input  matInput  (keyup)="applyFilter($event)" style="text-align: left;" placeholder="Search" #input matColumnDef="10">
                   <mat-icon >search</mat-icon>
                 </div>
                 <button  [disabled]="!canAdd" style="float:left ;display: inline; margin-left: 2%;margin-top: 1%;"  (click)="openDialog()">
               <i class="fa fa-circle-plus" style="
                 zoom: 1.5;color: #6c757d;"></i>
                  
                 </button>
           </div>
           <div class="overflow-x-auto mx-6" style="margin-top: 1%;">
           
           <form [formGroup]="VOForm"  >
           
           <!-- <button  color="primary"  style="display: inline;"><mat-icon (click)="AddNewRow()" class="add-button">add_box</mat-icon></button> -->
          <ng-container formArrayName="VORows" >
               <table #table mat-table [dataSource]="roles" class="table-responsive" >
       
                 <!-- Position Column -->
                 <ng-container matColumnDef="Role_id">
                   <th mat-header-cell *matHeaderCellDef> Role_id </th>
                   <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                     <input matInput type="text" formControlName="id" [readonly]="true" #iduser 
                            style="width: 20px">
                   </td>
                 </ng-container>
                 
                             
                 <!-- Name Column -->
                 <ng-container matColumnDef="name">
                   <th mat-header-cell *matHeaderCellDef > Name </th>
                   <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
         
                     <!-- <span [hidden]="VOForm.get('VORows').value[i].isEditable"> -->
                       <mat-form-field *ngIf="!VOForm.get('VORows').value[i].isEditable" style="width: 60%">
                         <input class="c1" required matInput type="text" formControlName="name" [readonly]="VOForm.get('VORows').value[i].isEditable">
                         <mat-error style="text-align: center;">
                         name field is required
                         </mat-error>
                           
                       </mat-form-field>
                       
                       <button type="text"  mat-stroked-button
                       [ngStyle]="{'color': isDarkColor(VOForm.get('VORows').value[i].color) ? 'white' : 'black','background-color': VOForm.get('VORows').value[i].color,
                       'width':'50%' }"
                       
                       [readonly]="VOForm.get('VORows').value[i].isEditable" *ngIf="VOForm.get('VORows').value[i].isEditable">
                       {{ VOForm.get('VORows').value[i].name }}
                     </button>
                    
                     
                     
                   </td>
                 </ng-container>
         
                 <!-- claims Column -->
                 <ng-container matColumnDef="claims">
                   <th mat-header-cell *matHeaderCellDef > claims </th>
                   <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element" >
 
                       <mat-form-field *ngIf="!VOForm.get('VORows').value[i].isEditable" style="width: 100%;" >
                         
                         <mat-select 
                           placeholder="claims"  multiple formControlName="claims"
                          
                           
                           > 
                           <mat-optgroup   
            *ngFor="let group of allclaims" 
                           [label]="group.name">
                             <mat-option
                               *ngFor="let item of group.items"
                               [value]="item.value"
                               selected="true"
                             >
                               {{item.label}}
                             </mat-option>
                           </mat-optgroup>
                         </mat-select>
                       </mat-form-field>
                     
                     
                       <mat-form-field *ngIf="VOForm.get('VORows').value[i].isEditable"  style="width: 80%;" >
                         
                         <mat-select 
                           placeholder="claims"  multiple formControlName="claims" > 
                           <!-- Loop through each group via the groups array -->
                           <ng-container *ngFor="let group of groups[i]" >
                             <mat-optgroup  [label]="group.name"  >
                               <strong *ngFor="let item of group.items">
                                 <mat-option *ngIf="item.test=='true'"
                                  [disabled]="true"
                                 [value]="item.value"
                                 
                                 selected="true"
                               >
                                 {{item.label}}
                               </mat-option>
           
                               </strong>  
                             </mat-optgroup>
                           </ng-container>
                         </mat-select>
                       </mat-form-field>
                   </td>
                 </ng-container>
       

                 <ng-container matColumnDef="tags">
                  <th mat-header-cell *matHeaderCellDef > Tags </th>
                  <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element" >

                    <mat-form-field *ngIf="VOForm.get('VORows').value[i].isEditable" style="text-align:center;width: 80%;">
                      <mat-select placeholder="tags" multiple formControlName="tags">
                        <mat-optgroup *ngFor="let tag of tags[i]" [label]="tag.key">
                          <ng-container  >
                          <mat-option disabled  [value]="tag.id" >{{ tag.value }}</mat-option>

                          </ng-container>
                        </mat-optgroup>
                      </mat-select>
                    </mat-form-field>
                    
                    
                    
                      
                     <button *ngIf="!VOForm.get('VORows').value[i].isEditable"
                      
                     class="btn"
                     style="background-color: rgb(232, 229, 224);"
                      (click)="open(tags[i],VOForm.get('VORows').value[i].tags,i)">
                      Edit tags</button>
                  </td>
                </ng-container>

                 
                 <ng-container matColumnDef="action">
                   <th mat-header-cell *matHeaderCellDef> Action </th>
                   <td mat-cell *matCellDef="let element; let i = index" [formGroup]="element">
                     <button mat-icon-button class="material-icons app-toolbar-menu save-button" [disabled]="VOForm.invalid"
                                             matTooltip="Save Changes" (click)="SaveVO(VOForm, i, VOForm.get('VORows').value[i].id)"
                                             *ngIf="!VOForm.get('VORows').value[i].isEditable" >
                                             <mat-icon style="color: green;">check_circle</mat-icon>
                                         </button>
         
                     <button mat-icon-button class="material-icons app-toolbar-menu cancel-button"
                                             matTooltip="Cancel Changes" color="warn"
                                             (click)="CancelSVO(VOForm,i)"
                                             *ngIf="!VOForm.get('VORows').value[i].isEditable">
                                             <mat-icon>cancel</mat-icon>
                                         </button>
         
                     <button mat-icon-button class="material-icons app-toolbar-menu save-button"
                                             *ngIf="VOForm.get('VORows').value[i].isEditable"
                                             matTooltip="Edit" color="primary" (click)="EditSVO(VOForm,i)"
                                             [disabled]="!canEdit ||inUpdate"
                                             >
                                             <mat-icon>edit</mat-icon>
                                         </button>
         
                     <button mat-icon-button class="material-icons app-toolbar-menu delete-button"
                     [disabled]="!canDelete"
                                             *ngIf="VOForm.get('VORows').value[i].isEditable"
                                             matTooltip="Delete" color="warn" (click)="delete(VOForm,i)">
                                             <mat-icon>delete</mat-icon>
                                         </button>
                   </td>
                 </ng-container>
         
                 <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
                 <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
         
                 <!-- Row shown when there is no matching data. -->
                 <!-- <tr class="mat-row" *matNoDataRow>
                   <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                 </tr> -->
               </table>
             </ng-container>
             <mat-card *ngIf="isLoading" style="display: flex; justify-content: center; align-items: center">
               <mat-progress-spinner 
                 color="primary" 
                 mode="indeterminate">
               </mat-progress-spinner>
             </mat-card>
             
         
                 <mat-paginator  [pageSizeOptions]="[8, roles.data.length>8? roles.data.length:'10'  ]" 
                   style="margin-top: 1%;" 
                  showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
                 
           </form>
           </div>
         </div>
   </div>
  
 