<form [formGroup]="demandForm" style="display: flex; flex-direction: column; align-items: center;margin-top: 0px;">
    <button mat-icon-button mat-dialog-close class="close-icon" style="margin-left: 93%; margin-top: -10px;">
        <mat-icon>close</mat-icon>
    </button>
    <h2 style="margin-top: 0px;" class="h6">Make demand</h2>





    <mat-form-field style="width: 80%;">
        <mat-label>Subject:</mat-label>

        <input matInput formControlName="object" />
    </mat-form-field>

    <mat-form-field style="width: 80%;height: 200px;">
        <mat-label>Description:</mat-label>
        <textarea matInput formControlName="description" style="height: 130px"></textarea>
    </mat-form-field>

</form>

<div>
    <button class="btn btn-primary" [disabled]="demandForm.invalid" (click)="onSubmit()">Send</button>
    <button class="btn btn-light" (click)="closeEmailDialog()" style="margin-left: 2%;">Cancel</button>

</div>