<div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden" 
style="float: left;width: 100%;">
    

<mat-toolbar color="primary" >
    <mat-toolbar-row >
        <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
            <div style="display: flex; align-items: center;">
     
              <mat-form-field appearance="outline" class="bottom-border" style="margin-left: 10px;">
                <mat-label>Workspace name</mat-label>
                <input placeholder="Enter workspace name" type="text" matInput [readonly]="canvas.readonly" [(ngModel)]="canvas.workspaceName">
              </mat-form-field>
              <button class="btn btn-outline-success btn-md" title="Save workspace" type="button" [disabled]="canvas.workspaceName == ''" style="margin-left: 10px;" (click)="submit()">
                <i class="fa fa-regular fa-floppy-disk"></i>
              </button>
              <button class="btn btn-outline-info btn-md" title="Add workspace" type="button" style="margin-left: 10px;" (click)="addWorkSpace()">
                <i class="fa-sharp fa-regular fa-square-plus"></i>
              </button>
              <mat-form-field appearance="outline" style="float: right;margin-left: 500px;">
                <mat-select placeholder="Current Workspaces">
                  <mat-option *ngFor="let w of workspacesNames" [value]="w" #matOption (click)="loadCanvas(matOption.value)">
                    {{w}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
        
          </div>
          
          
          
   
        
           
            
           
                <!-- <mat-error *ngIf=" canvas.workspaceName == ''" >enter a workspace name </mat-error> -->

           
            <br/>     
          
    </mat-toolbar-row>
  </mat-toolbar>
  

      <div class="row" style="margin-left: 2%;margin-right: 2%">
        <div class="col-xl-2">
            <br/> 
            <div class="card">
                <div class="card-header ">Add images</div>
                <div class="card-body">
                    <img class="images-item" (click)="getImgPolaroid($event)" src="../assets/objects/desk.svg">
                    <img class="images-item" (click)="getImgPolaroid($event)" src="../assets/objects/door.svg">
                </div>
            </div>
            <br/>
            <div class="card">
                <div class="card-header">Upload image</div>
                <div class="card-body text-center">
                    <img id="testImage" *ngIf="canvas.url" class="images-item-upload" [src]="canvas.url" (click)="addImageOnCanvas(canvas.url);">
                    <input type="file"  (change)="readUrl($event);">
                    <br/>
                    <br/>
                    <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeWhite(canvas.url);">
                                <i class="fa fa-times" aria-hidden="true"></i> Remove</button>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="card">
              <div class="card-header">Options</div>
              <div class="card-body text-center">
                  <div class="btn-group" role="group" aria-label="...">
                      <button data-toggle="tooltip" data-placement="bottom" title="Delete element" type="button" class="btn btn-outline-danger" [disabled]="!canvas.selected"
                          (click)="removeSelected();">
                          <i class="fa fa-trash" aria-hidden="true"></i>
                      </button>
                      <button data-toggle="tooltip" data-placement="bottom" title="Clone" type="button" class="btn btn-outline-primary" [disabled]="!canvas.selected"
                          (click)="clone();">
                          <i class="fa fa-clone" aria-hidden="true"></i>
                      </button>
                      <button data-toggle="tooltip" data-placement="bottom" title="Unselect" type="button" class="btn btn-outline-primary" [disabled]="!canvas.selected"
                          (click)="cleanSelect()">
                          <i class="fa fa-remove" aria-hidden="true"></i>
                      </button>
                  </div>
              </div>
          </div>
            <br/>
        </div>
        <div class="col-xl-9">
            <app-map #canvas style="display: flex;"></app-map>
        </div>

            <br/>
    </div>

    <br>
    <br>
  </div>