<form [formGroup]="demandForm" style="display: flex; flex-direction: column; align-items: center;margin-top: 0px;">
    <button mat-icon-button mat-dialog-close class="close-icon" style="margin-left: 93%; margin-top: -10px;">
        <mat-icon>close</mat-icon>
    </button>
    <h2 style="margin-top: 0px;" class="h6">Demand Details</h2>


    <!-- <mat-form-field style="width: 80%;">
        <mat-label>To:</mat-label>


        <mat-select formControlName="recipients" (selectionChange)="onSelectionChange($event)" multiple>
            <mat-checkbox class="mat-checkbox-label" [checked]="allSelected" (change)="selectAll($event)">(Select
                All)</mat-checkbox>


            <mat-option *ngFor="let email of equipementsList" [value]="email">{{ email }}</mat-option>
        </mat-select>
    </mat-form-field> -->


    <mat-form-field style="width: 80%;">
        <mat-label>Subject:</mat-label>
        <i class="fas fa-tools"></i>

        <input matInput readonly formControlName="subject" style="margin-left: 4%;" />
    </mat-form-field>

    <mat-form-field style="width: 80%;height: 200px;">
        <mat-label>Description:</mat-label>
        <textarea readonly matInput formControlName="description" style="height: 130px"></textarea>
    </mat-form-field>
    <mat-form-field style="width: 80%;">
        <mat-label>Update desk equipement:*</mat-label>
        <mat-select formControlName="deskEquipement" multiple>
            <ng-container *ngFor="let mat of allMaterials">
                <mat-option [value]="mat.name" [disabled]="mat.quantity <=0 && !equipementsList.includes(mat.name)">
                    <div style="display: inline;">
                        <img [src]="mat.picture" alt="" srcset="" style="height: 60px;width: 80px;display: inline;">
                        <span style="display: inline;margin-left: 20px;"> {{mat.name}} </span>
                    </div>
                </mat-option>
            </ng-container>

        </mat-select>
    </mat-form-field>
</form>

<div>
    <button class="btn btn-primary" [disabled]="demandForm.invalid" (click)="onSubmit()">Accept</button>
    <button class="btn btn-danger" (click)="refuse_demand()" style="margin-left: 2%;">Decline</button>

</div>